.experimentation-container{
    text-align: center;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .experimentation-titre{
        position: relative;
        transform-style: preserve-3d;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: white;
        .experimentation-lettres{
            font-family: "retrolight";
            font-size: 125px;
            font-weight: 200;
            pointer-events: none;
        }
    }

    .experimentation-cible{
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        background-color: red;
    }
    .experimentation-tire{
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: blue;
    }
}