.experimentation-container{
    text-align: center;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .experimentation-titre{
        position: relative;
        transform-style: preserve-3d;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: white;
        .experimentation-lettres{
            font-family: "retrolight";
            font-size: 125px;
            font-weight: 200;
            pointer-events: none;
        }
    }
}