@import "Pages/Experimentation/Experimentation.scss";

*,
*::before,

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

body{
    background: linear-gradient(180deg, var(--bg-accueil-gradient1), var(--bg-accueil-gradient2));
    height: 100vh;
    width: 100%;
    overflow: hidden !important;
}