
*,
*::before,

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

body{
    background: linear-gradient(180deg, var(--bg-accueil-gradient1), var(--bg-accueil-gradient2));
    height: 100vh;
    width: 100%;
    overflow: hidden !important;

    &::after{
        content: "";
        height: 300%;
        width: 300%;
        filter: url("#grainy");
        background: url("/svg_accueil/noise.svg");
        position: fixed;
        left: -50%;
        top: -110%;
        opacity: 0.1;
        animation: animGrainy 8s steps(10) infinite;
        z-index: -10;
    }
}

@keyframes animGrainy {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }